#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 400px;
    border: 20px solid rgb(64, 153, 212);
    background-color: rgb(219, 223, 222);
}
#startTime {
    background-color: rgb(64, 153, 212);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
#questionsDiv {
    margin: 20px;
    font-size: 20px;
    background-color: rgb(219, 223, 222);
}

#currentTime {
    float: right;
}

#goBack {
    background-color: rgb(64, 153, 212);
    position: relative;
    padding: 5px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: rgb(64, 153, 212);
    position: relative;
    padding: 5px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border: none;
    background: radial-gradient(circle, rgb(46, 14, 134) 0%, rgba(11, 92, 168, 0.954) 100%);
    background-color: #0f8aaf;
    color: rgb(15, 14, 14);
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background: radial-gradient(circle, rgb(15, 131, 5) 0%, rgb(65, 206, 9) 100%);
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background: rgba(43, 142, 235, 0.954) 100%);
    background-color: #0f8aaf;
    color: white;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;

}


label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 5px solid #0f8aaf;
}

h1 {
    text-align: center;
}

li {
    background: radial-gradient(circle, rgb(46, 14, 134) 0%, rgba(11, 92, 168, 0.954) 100%);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

li:hover {
    transition-duration: 0.4s;
    background: radial-gradient(circle, rgb(15, 131, 5) 0%, rgb(65, 206, 9) 100%);
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#wrapper {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}


}