.containerHead {
    padding: 25px;
    top: 2px;
    position: absolute;
    font-size: 25px;
    font-family: 'Roboto Slab', arial;
    background-color: rgb(217, 241, 246);
    color: rgb(10, 10, 10);
    border: 25px groove rgb(29, 163, 204);
    border-color: rgb(29, 163, 204);
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 25px 29px;
  }

#wrapper {
    position: absolute;
    left: 30%;
    top: 35%;
    width: 500px;
    height: 400px;
    border: 25px groove rgb(29, 163, 204);
    background-color: rgb(217, 241, 246);
    font-family: 'Roboto Slab', arial;
}
#startTime {
    background-color: rgb(29, 163, 204);
    margin-left: 3%;
    padding: 10px 49px;
    font-size: 20px;
    color: rgb(10, 10, 10);
    font-family: 'Roboto Slab', arial;
}
#questionsDiv {
    margin: 20px;
    font-size: 20px;
    background-color: rgb(217, 241, 246);
    font-family: 'Roboto Slab', arial;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: rgb(29, 163, 204);
    position: relative;
    padding: 5px;
    font-size: 20px;
    color: rgb(10, 10, 10);
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Slab', arial;
}

#clear {
    background-color: rgb(29, 163, 204);
    position: relative;
    padding: 5px;
    font-size: 20px;
    color: rgb(10, 10, 10);
    top: 30%;
    right: 5%;
    text-align: center;
    font-family: 'Roboto Slab', arial;
}

button {
    border: none;
    background: radial-gradient(circle, rgb(16, 97, 122) 0%, rgba(92, 246, 251, 0.954) 100%);
    background-color: #0f8aaf;
    color: rgb(10, 10, 10);
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background: radial-gradient(circle, rgb(32, 230, 14) 0%, rgb(78, 180, 38) 100%);
}

textarea {
    width: 90%;
    margin: 20px;
    font-family: 'Roboto Slab', arial;
}

#Submit {
    background-color: rgb(29, 163, 204);
    color: rgb(10, 10, 10);
    margin-left: 38%;
    padding: 7px 53px;
    font-size: 20px;
    font-family: 'Roboto Slab', arial;

}


label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 35%;
    border: 5px solid #0f8aaf;
}

h1 {
    text-align: center;
    
}

li {
    background: radial-gradient(circle, rgb(16, 97, 122) 0%, rgba(92, 246, 251, 0.954) 100%);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: rgb(10, 10, 10);
}

li:hover {
    transition-duration: 0.4s;
    background: radial-gradient(circle, rgb(32, 230, 14) 0%, rgb(78, 180, 38) 100%);
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

